<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="ERROR">
    <Appenders>
        <property name="Logs" value="Logs"/>
        <RollingFile name="LogToFile"
                     fileName="Logs/hippodrome.log"
                     filePattern="Logs/hippodrome.%d{yyyy-MM-dd}.log"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d %-5p %c: %m%n"/>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath="Logs" maxDepth="2">
                    <IfFileName Log="hippodrome.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="All">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>